# Python virtual environment
venv/

# Exclude secrets
secrets/

# Byte-compiled / cache files
**/__pycache__/
*.py[cod]
*$py.class

# Environment files
*.env

# Logs
*.log

# editor settings
.vscode/

# Git
.git/
.gitignore

# Docker
Dockerfile*
docker-compose*.yml
.dockerignore
